body.night,
body.night-transitionless {
    background-color: black;
    color: #CCC;
    font-family: Verdana;
    font-size: 150%;
}


body.day,
body.day-transitionless {
    background-color: #CCC;
    color: black;
    font-family: Verdana;
    font-size: 150%;
}

body.night,
body.day {
    -webkit-transition: background-color 1000ms, color 1000ms;
    -moz-transition: background-color 1000ms, color 1000ms;
    -o-transition: background-color 1000ms, color 1000ms;
    -ms-transition: background-color 1000ms, color 1000ms;
    transition: background-color 1000ms, color 1000ms;
}

button.night,
button.day {
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 5px;
    margin-right: 5px;
    position:absolute;
    top:0;
    right:0;
    width:40px;
    height:40px;
}

button.night {
    background-color: #333;
    color: #CCC;
}

button.day {
    background-color: #999;
    color: black;
}

canvas.footer {
    margin: auto;
    margin-top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
}
