body.night {
    background-color: black;
    color: #CCC;
    font-family: Verdana;
    font-size: 150%;
    
    -webkit-transition: color 1000ms linear;
    -moz-transition: color 1000ms linear;
    -o-transition: color 1000ms linear;
    -ms-transition: color 1000ms linear;
    transition: color 1000ms linear;
    
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

body.day  {
    background-color: #CCC;
    color: black;
    font-family: Verdana;
    font-size: 150%;
    
    -webkit-transition: color 1000ms linear;
    -moz-transition: color 1000ms linear;
    -o-transition: color 1000ms linear;
    -ms-transition: color 1000ms linear;
    transition: color 1000ms linear;
    
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

button.night {
    background-color: #333;
    border: none;
    color: #CCC;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 5px;
    margin-right: 5px;
    position:absolute;
    top:0;
    right:0;
    width:40px;
    height:40px;
}

button.day {
    background-color: #999;
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 5px;
    margin-right: 5px;
    position:absolute;
    top:0;
    right:0;
    width:40px;
    height:40px;
}
