html,
body {
    margin:0;
    padding:0;
    height:100%;
    font-family: Verdana;
    font-size: 150%;
}

#wrapper {
    min-height:100%;
    position:relative;
    z-index: 1;
    
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
#header {
    padding:10px;
}
#content {
    padding-bottom:100px; /* Height of the footer element */
    margin: auto;
    width: 80%;
    flex-grow: 1;
}
#footer {
    width:100%;
    bottom:0;
    left:0;
    z-index: -1;
}

.clickable {
   cursor: pointer;
}

.unclickable {
   cursor: default;
}

body.night,
body.night-transitionless {
    background-color: black;
    color: #CCC;
}


body.day,
body.day-transitionless {
    background-color: #CCC;
    color: black;
}

body.night,
body.day {
    -webkit-transition: background-color 1000ms, color 1000ms;
    -moz-transition: background-color 1000ms, color 1000ms;
    -o-transition: background-color 1000ms, color 1000ms;
    -ms-transition: background-color 1000ms, color 1000ms;
    transition: background-color 1000ms, color 1000ms;
}

button.night,
button.day {
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 5px;
    margin-right: 5px;
    position:absolute;
    width:40px;
    height:40px;
}

button.night {
    background-color: #333;
    color: #CCC;
}

button.day {
    background-color: #999;
    color: black;
}

button.left {
    border-radius: 12px 0px 0px 12px;
}

button.right {
    border-radius: 0px 12px 12px 0px;
}

canvas.footer {
    margin: 0px auto 0px;
    bottom: 0;
    display:block;
    width:100%;
    /*position:absolute;*/
}

.horizontalJustify {
  display: flex;
  justify-content: center;
}

.hMargin20 {
    margin-left: 20px;
    margin-right: 20px;
}

.noVMargin {
    margin-top: 0px;
    margin-bottom: 0px;
}

a { display: block; }
